.div-container {
    height: 190px;
    background-color: #334499;
    color: #ffffff;
    text-align: center;
    padding: 10px;  
}

.div-container h2, 
.div-container p {
    padding-top: 1.5%;
}
/* .svg1{ */
    /* margin-left: 90%; */
    /* margin-bottom: 90%; */
/* } */

@media (max-width: 600px) {
    .div-container {
        height: 150px;  
        padding: 5px;    
    }

    .div-container h2,
    .div-container p {
        font-size: 14px;  
    }
}
